html {
  padding: 0;
  margin: 0;
  background-color: #6096b4;
}

.container-fluid {
  text-align: center;
}

.title {
  color: #eee9da;
}
.quote {
  text-align: left;
  width: 50%;
  margin: auto;
}

.nikola-img {
  width: 20em;
  border-radius: 50%;
}

.main-info {
  display: flex;
  flex-direction: column;
}

ul {
  text-align: left;

  font-size: 1.2rem;
}
